.HomePage {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);

  & section {
    height: 250px;
    font-family: 'Russo One', sans-serif;
    padding: 20px;
    //background-size: cover;
    //background-position: 100% 0;


    & section .SectionTitle {

    }

    & section .SectionDescription {

    }

    &:not(:first-child) {
      margin-top: 20px;
    }
  }
}

.RunningSection {
  background: url("https://media.istockphoto.com/photos/small-group-of-people-running-in-the-autumn-park-picture-id1080232360");
}

.BodyweightSection {
  background: url("https://media.istockphoto.com/photos/side-view-plank-man-muscular-picture-id576569058");
}

.GymSection {
  background: url("https://media.istockphoto.com/photos/young-attrective-gym-man-and-woman-working-out-on-the-sportsground-picture-id1094184900");
}