<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>freeweight</title>
</head>
<body>
<form action='login' method='POST'>
    {% csrf_token %}
<button type='submit'>Login</button>
</form>

<div id="openweathermap-widget-15"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '2867714',appid: '383e70bba76730ecf8c30b9bcad1f3f2',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>

<form action='' enctype="multipart/form-data" method="post">
      {% csrf_token %}

</form>

<form action='freeweightrecresult' enctype="multipart/form-data" method="post">
      {% csrf_token %}
          {{ gender_checkbox }}
          {{ age_dropdown }}
          {{ weight_dropdown }}
          {{ height_dropdown }}
          {{ kcal_dropdown }}
          {{ training_type_checkbox }}
          {{ intensity_slider }}
    <button type='submit'>Get Recommendations</button>
</form>

</body>
</html>