<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>freeweight</title>
</head>
<body>
<form action='' enctype="multipart/form-data" method="post">
      {% csrf_token %}
          {{ checkbox1 }}
          {{ dropdown1 }}
</form>

<form action='' enctype="multipart/form-data" method="post">
      {% csrf_token %}
          {{ checkbox2 }}
          {{ dropdown2 }}
          {{ dropdown3 }}
          {{ dropdown4 }}
    <input id="intensity" type="range" value="50" min="1" max="100" step="1"> Intensity </input>

</form>
<form action='freeweightrecresult' method='POST'>
    {% csrf_token %}
<button type='submit'>Get Recommendations</button>

</form>
</body>
</html>