<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>groupfitness</title>
</head>
<body>
{{ context }}
<form action='login' method='POST'>
    {% csrf_token %}
<button type='submit'>Login</button>
</form>

<div id="openweathermap-widget-15"></div>
<script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 15,cityid: '2867714',appid: '383e70bba76730ecf8c30b9bcad1f3f2',units: 'metric',containerid: 'openweathermap-widget-15',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>

<form action='' enctype="multipart/form-data" method="post">
      {% csrf_token %}
          {{ gender_checkbox }}
          {{ age_dropdown }}
          {{ weight_dropdown }}
          {{ height_dropdown }}
</form>

<form action='findgroups' method='POST'>
    {% csrf_token %}
    <input type="text" name="location" hidden=true/>
  <button type="submit" id="find_groups">Find fitness groups</button>
</form>

<form action='grouprecresult' method='POST'>
        {% csrf_token %}
  <button type="submit" id="group_recommendations">Get group recommendations</button>
</form>
</body>
<script>
    function setPosition(position) {

      pos=[position.coords.latitude,position.coords.longitude];
      for(var i=0;i<Object.keys(document.getElementsByName("location")).length;i++){
        document.getElementsByName("location")[i].value=pos.toString();
    }
}
 var pos=""
        function getLocation() {
            if (navigator.geolocation.getCurrentPosition(function (x) {  })!=undefined){
                if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(setPosition);
  }
            }
            else{
                pos=[48.164187, 11605617];
      for(var i=0;i<Object.keys(document.getElementsByName("location")).length;i++){
        document.getElementsByName("location")[i].value=pos.toString();
    }
            }
}
getLocation();
</script>
</html>