{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recommendation</title>
</head>
<body>
<a href="/park_displays_app/startpage">
    <div align="center">
        Running/Walking<br>
        <img src="{% static 'park_display_app/walking.png' %}" style="width: 400px; height: 400px" >
    <img src="{% static 'park_display_app/running.jpg' %}" style="width: 400px; height: 400px" >
    </div>
</a>
<br>
<div align="center">
    <a href="/park_displays_app/startpage">
    <div align="left">
        Outdoor gym<br>
        <img src="{% static 'park_display_app/gym.jpg' %}" style="width: 400px; height: 400px" >
    </div>
</a>
<a href="/park_displays_app/startpage">
    <div align="right">
        Freeweight exercises/Stretching<br>
        <img src="{% static 'park_display_app/yoga.jpeg' %}" style="width: 400px; height: 400px" >
    </div>
</a>
</div>
</body>
</html>