<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=https://parkrec.herokuapp.com">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/park_displays_app/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/park_displays_app/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/park_displays_app/favicon-16x16.png">
    <link rel="manifest" href="/static/park_displays_app/site.webmanifest">
    <link rel="mask-icon" href="/static/park_displays_app/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">

    <title>Start page</title>
</head>
<body>
    Redirecting you to a demo Instance. Please Stand by ...
</body>
</html>